{% extends "home/base.html" %}
{% load static %}
{% block head %}
<title>Expenditure</title>
<link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block body %}
      <div class="data">
      
      {% for month in past_expense %}
             {{ month.month }}  {{ month.expense }} 
      {% endfor %}

      </div>
      <div style="margin-left: 15%;margin-right: 15%;margin-top: 5%;">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <div style="margin-left: 200px;">
                  <h5>Month</h5>
            </div>
      </div>
      
<script>
      let past_expense = document.getElementsByClassName("data");
     
      past_expense = String(past_expense[0].innerText);
      console.log(past_expense);
      let myArray = past_expense.split(" ");
      console.log(myArray);
      var xValues = [];
      var yValues = [];
      for(let i=0;i<myArray.length;i+=2){
            xValues.push(myArray[i]);
      }
      for(let i=1;i<myArray.length;i+=2){
            yValues.push(Number(myArray[i]));
      }
      
      var barColors = "rgb(68, 112, 101)";
      document.getElementsByClassName("data")[0].innerHTML = '';
      new Chart("myChart", {
            type: "bar",
            data: {
                  labels: xValues,
                  datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                  }]
            },
            options: {
                  legend: { display: false },
            }
      });
</script>

{% endblock %}